Repository bitshares/bitshares-community-ui, pull requests merged in 2018-11, with the labels that each got.

#135 #128: integrate SortTable to markets
  src/components/SortableHeaderItem/SortableHeaderItem.vue
  src/views/TheMarkets/MarketsTickersList.vue
  src/views/TheMarkets/MarketsTickersListItem.vue
  src/views/TheMarkets/MarketsTickersListItemPrices.vue
Labels: Markets, P1

#138 137 amount value shortener
  package-lock.json
  src/helpers/utils.js
  src/views/TheMarkets/MarketsTickersListItem.vue
  tests/unit/amountValueShortener.spec.js
Labels: Markets, ui

#152 WIP:refactor for plugins
  src/store/index.js
Labels: process

#166 153 history item
  src/helpers/utils.js
  src/store/modules/orderHistory.js
  src/views/OrderHistory/OrderHistoryTable.vue
  src/views/OrderHistory/OrderHistoryTableItem.vue
Labels: Order History

#158 91 Clear input button
  src/assets/svg/cross.svg
  src/components/Input/Input.vue
Labels: enhancement

#184 #171: integrated backup
  src/components/Card/Card.vue
  src/views/Backup/Backup.vue
  src/views/Backup/BackupFinish.vue
  src/views/Backup/BackupUnlockWallet.vue
  src/views/Backup/BackupVerify.vue
  src/views/Dashboard.vue
  src/views/Header/HeaderUserInfo.vue
  src/views/Mobile/Mobile.vue
Labels: Privatekey Backup

#195 194 expand version
  src/components/SearchInput/SearchInput.vue
  src/views/Dashboard.vue
  src/views/OrderHistory/OrderHistory.vue
  src/views/OrderHistory/OrderHistorySearch.vue
  src/views/OrderHistory/OrderHistoryTable.vue
  src/views/OrderHistory/OrderHistoryTableItem.vue
Labels: Order History

#208 200 mobile orders
  src/views/Dashboard.vue
  src/views/OrderActive/OrderActive.vue
  src/views/OrderActive/OrderActiveTable.vue
  src/views/OrderActive/OrderActiveTableItem.vue
  src/views/OrderHistory/OrderHistory.vue
  src/views/OrderHistory/OrderHistoryTableItem.vue
Labels: Active Orders, Order History

#174 161 Dropdown Component
  package-lock.json
  package.json
  src/assets/svg/burger.svg
  src/components/Dropdown/Dropdown.md
  src/components/Dropdown/Dropdown.vue
  src/components/Dropdown/index.js
  src/components/MobileFooter/MobileFooter.vue
  src/views/Dashboard.vue
  src/views/Header/Header.vue
  src/views/Header/HeaderUserInfo.vue
  src/views/Login/Login.vue
  src/views/Signup/Signup.vue
  tailwind.js
Labels: ui

#215 207 new order
  src/assets/svg/high.svg
  src/assets/svg/low.svg
  src/components/Button/Button.vue
  src/components/Card/Card.vue
  src/store/index.js
  src/store/modules/newOrder.js
  src/views/Dashboard.vue
  src/views/NewOrder/NewOrder.vue
  src/views/NewOrder/NewOrderTabs.vue
  src/views/NewOrder/NewOrderTabsTitle.vue
  tailwind.js
Labels: New Order
