Repository bitshares/bitshares-community-ui, pull requests merged in 2018-12, with the labels that each got.

#244 237 Added percentSelector component. Change active
  src/store/modules/newOrder.js
  src/views/NewOrder/NewOrder.vue
  src/views/NewOrder/NewOrderPercentSelector.vue
Labels: New Order

#251 247 confirm order
  src/components/Button/Button.vue
  src/components/Modal/Modal.vue
  src/components/SimpleInput/SimpleInput.vue
  src/views/ConfirmOrder/ConfirmOrder.vue
  src/views/NewOrder/NewOrder.vue
  src/views/NewOrder/NewOrderInput.vue
Labels: Confirm Order

#257 #250: fixed markup of active orders
  src/components/Card/Card.vue
  src/components/TwoLineItem/TwoLineItem.vue
  src/views/ActiveOrders/ActiveOrdersSearch.vue
  src/views/ActiveOrders/ActiveOrdersTable.vue
  src/views/ActiveOrders/ActiveOrdersTableItem.vue
  src/views/Dashboard.vue
Labels: Active Orders

#258 256 floatcurrency
  src/helpers/utils.js
  src/views/ActiveOrders/ActiveOrders.vue
  src/views/OrderHistory/OrderHistory.vue
  tests/unit/helpers/getFloatCurrency.spec.js
Labels: bug

#278 262 deposit
  src/components/LoadingContainer/LoadingContainer.vue
  src/store/modules/deposit.js
  src/views/Deposit/Deposit.vue
  src/views/Deposit/DepositAddress.vue
  src/views/Deposit/DepositWidget.vue
Labels: Deposit

#282 integrate backup file
  src/views/Backup/Backup.vue
  src/views/Backup/BackupKeyDownload.vue
Labels: Backup

#307 279 graph
  package-lock.json
  package.json
  src/store/index.js
  src/store/modules/graph.js
  src/views/Dashboard.vue
  src/views/Graph/Graph.vue
  yarn.lock
Labels: graph

#330 308 confirm imp
  src/helpers/utils.js
  src/views/ConfirmModal/ConfirmModal.vue
  src/views/ConfirmOrder/ConfirmOrder.vue
  src/views/NewOrder/NewOrder.vue
  src/views/NewOrder/NewOrderInput.vue
Labels: Confirm Order

#331 #305: Deposit improvements
  src/views/Deposit/Deposit.vue
  src/views/Deposit/DepositAddress.vue
Labels: Deposit

#337 332 transfer
  src/store/modules/withdraw.js
  src/views/ConfirmModal/ConfirmModal.vue
  src/views/ConfirmOrder/ConfirmOrder.vue
  src/views/Header/Header.vue
  src/views/Withdraw/Withdraw.vue
  src/views/Withdraw/WithdrawConfirmAddress.vue
  src/views/Withdraw/WithdrawFinish.vue
  src/views/Withdraw/WithdrawWidget.vue
Labels: Transfer

#377 #359: added min-height to account,markets,active,history
  src/views/Account/PortfolioItem.vue
  src/views/Markets/MarketsListItemPrices.vue
  src/views/OrderHistory/OrderHistoryTableItem.vue
Labels: bug, ui

#375 #361: hide fee in transfer amount confirm
  src/views/Withdraw/WithdrawConfirmAmount.vue
Labels: Transfer, bug

#374 #372: added arrow on hover table field
  src/components/SortableHeaderItem/SortableHeaderItem.vue
Labels: improvements, ui

#373 #370: added container to minimize block
  src/components/Card/Card.vue
Labels: improvements, ui

#368 355 orders
  src/components/Accordion/Accordion.vue
  src/components/MobileFooter/MobileFooter.vue
  src/helpers/utils.js
  src/views/Markets/MarketsList.vue
  src/views/Markets/MarketsListItemPrices.vue
  src/views/Mobile/Mobile.vue
  src/views/Mobile/MobileOrders.vue
  src/views/OrdersContainer/OrdersContainer.vue
Labels: Active Orders, Mobile, Order History

#376 #356: fixed confirm order elements
  src/views/ConfirmOrder/ConfirmOrder.vue
  src/views/NewOrder/NewOrderInput.vue
Labels: Confirm Order, Mobile, ui

#378 352 change password
  src/store/index.js
  src/store/modules/changePassword.js
  src/views/Backup/BackupKeyDownload.vue
  src/views/Backup/BackupUnlockWallet.vue
  src/views/ChangePassword/ChangePassword.vue
  src/views/ChangePassword/ChangePasswordFinish.vue
  src/views/ChangePassword/ChangePasswordWidget.vue
  src/views/Dashboard.vue
  src/views/Header/Header.vue
  src/views/Mobile/MobileAccountHeader.vue
Labels: Change Password

#387 Markets and newOrder fixes
  src/views/Markets/MarketsListItemPrices.vue
  src/views/Mobile/MobileOrders.vue
Labels: improvements, ui
