Repository bitshares/bitshares-community-ui, pull requests merged in 2018-10, with the labels that each got.

#101 79 star component
  src/assets/svg/star.svg
  src/assets/svg/starFilled.svg
  src/components/Star/Star.md
  src/components/Star/Star.vue
  src/components/Star/index.js
  src/views/Components.vue
  tailwind.js
Labels: duplicate, enhancement

#126 #125: add orderBook last price component
  src/store/books.js
  src/views/Dashboard.vue
  src/views/OrderBook/OrderBookLastPrice.vue
Labels: Order Book

#107 104 markets
  src/assets/svg/search.svg
  src/components/Card/Card.vue
  src/components/Modal/Modal.vue
  src/components/Modal/index.js
  src/components/SearchInput/SearchInput.vue
  src/components/SearchInput/index.js
  src/components/SortableHeaderItem/SortableHeaderItem.vue
  src/components/Tabs/Tabs.md
  src/components/Tabs/Tabs.vue
  src/helpers/utils.js
  src/store/cachedPaths.js
  src/store/index.js
  src/store/modules/markets.js
  src/views/Dashboard.vue
  src/views/TheMarkets/MarketsTickersList.vue
  src/views/TheMarkets/MarketsTickersListItem.vue
  src/views/TheMarkets/MarketsTickersListItemPrices.vue
  src/views/TheMarkets/TheMarkets.vue
  src/views/TheMarkets/index.js
  tailwind.js
Labels: Markets

#99 73 Mobile footer
  src/assets/svg/account.svg
  src/assets/svg/markets.svg
  src/assets/svg/orders.svg
  src/components/MobileFooter/MobileFooter.md
  src/components/MobileFooter/MobileFooter.vue
  src/components/MobileFooter/index.js
  src/views/Components.vue
  tailwind.js
Labels: enhancement, feature
